<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <div class="container text-center">
        <div>
            <h1>Benvenuto!</h1>
        </div>
        <form action="/choice">
            <label for="notifica">Seleziona un tipo di notifica:</label>
            <select name="notifica" id="notifica">
                <option value="sms">SMS</option>
                <option value="slack">Slack</option>
                <option value="email">Email</option>
                <option value="whatsapp">Whatsapp</option>
            </select>
            <br><br>
            <input type="submit" value="Submit">
        </form>


    </div>
    <h3><a th:href="@{/register}">Registrazione utente</a></h3>
</div>

</body>
</html>